@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #0ef;
  --width-small: 70px;
  --width: 80px;
  --width-large: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  height: 2000px;
  background: #1f242d;
  overflow-x: hidden;
}
header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.flash-icon {
  position: absolute;
  width: 5rem;
  rotate: 30deg;
  left: 35%;
  top: 60%;
  animation: flashMoveTop 2s ease infinite;
}
.logo {
  position: relative;
}
.logo::before,
.logo::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
  animation: width 0.5s ease forwards;
  animation-delay: 0.8s;
}
.logo::before {
  top: -12px;
  right: -20px;
  border-top: 4px solid var(--primary-color);
  border-right: 4px solid var(--primary-color);
}
.logo::after {
  bottom: -12px;
  left: -20px;
  border-bottom: 4px solid var(--primary-color);
  border-left: 4px solid var(--primary-color);
}
.logo img {
  width: 3rem;
  opacity: 0;
  animation: slideRight 0.75s ease-out forwards;
  transition: 0.3s;
}
.logo img:hover {
  rotate: 40deg;
}
nav {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
}
nav a {
  position: relative;
  font-size: 1rem;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  animation: opacity 0.5s ease-out forwards;
  animation-delay: calc(0.1s * var(--delay));
  opacity: 0;
}
nav .nav-item::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  border-radius: 2px;
  background: #0ef;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s ease-out;
}
nav .nav-item.active::before {
  opacity: 1;
  width: 105%;
}
nav .nav-item:hover,
nav .active {
  color: var(--primary-color);
}

#home,
#about,
#skills,
#projects,
#contact {
  height: 100vh;
  color: #fff;
}
#contact {
  height: 80vh;
  color: #fff;
}

/* subnav */
.navigation {
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2f2f2f;
  position: fixed;
  left: 50%;
  top: 86%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  animation-delay: 0.5s;
  z-index: 100;
}
.navigation ul {
  position: relative;
  list-style-type: none;
  display: flex;
}
.navigation ul li {
  width: var(--width-large);
  height: var(--width);
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation ul li a .icon {
  font-size: 1.75em;
  display: block;
  line-height: 85px;
  transition: 0.5s;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.navigation ul li:hover a .icon {
  color: rgba(255, 255, 255, 1);
}
.navigation ul li.active a .icon {
  color: var(--primary-color);
  transform: translateY(-8px);
}
.navigation ul li a .text {
  position: absolute;
  font-size: 0.7em;
  text-transform: uppercase;
  transform: translateY(0);
  color: #fff;
  letter-spacing: 0.5px;
  opacity: 0;
  z-index: 10;
  font-weight: 600;
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(16px);
}
.bar {
  position: absolute;
  width: var(--width-large);
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.bar::before {
  content: "";
  position: absolute;
  bottom: 12px;
  width: 80%;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 8px;
}
.navigation ul li:nth-child(2).active ~ .bar {
  transform: translateX(var(--width-large));
}
.navigation ul li:nth-child(3).active ~ .bar {
  transform: translateX(calc(var(--width-large) * 2));
}
.navigation ul li:nth-child(4).active ~ .bar {
  transform: translateX(calc(var(--width-large) * 3));
}
.navigation ul li:nth-child(5).active ~ .bar {
  transform: translateX(calc(var(--width-large) * 4));
}
.appear {
  opacity: 1;
  pointer-events: unset;
}
/* subNav */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 86%;
    opacity: 1;
    pointer-events: unset;
  }
}
@keyframes flashMoveTop {
  0%,
  100% {
    top: 70%;
  }
  50% {
    top: 50%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes width {
  to {
    width: 24px;
    height: 24px;
    opacity: 1;
  }
}
@keyframes width_large {
  to {
    width: 100px;
    height: 100px;
    opacity: 1;
  }
}
@keyframes move {
  0%,
  100% {
    margin-bottom: 5px;
  }
  50% {
    margin-bottom: -5px;
  }
}
@media screen and (max-width: 1023px) {
  #home,
  #about,
  #skills,
  #projects,
  #contact {
    height: auto;
    margin-top: 6rem;
  }
  #home {
    margin-top: 0;
  }
  header {
    justify-content: center;
  }
  nav {
    display: none;
  }
  .flash-icon {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .navigation {
    opacity: 1;
    animation: slideTop ease 1s forwards;
  }
  .navigation ul li {
    width: var(--width-small);
    height: var(--width);
  }
  .navigation ul li a .icon {
    font-size: 1.5em;
  }
  .bar {
    width: var(--width-small);
  }
  .navigation ul li:nth-child(2).active ~ .bar {
    transform: translateX(var(--width-small));
  }
  .navigation ul li:nth-child(3).active ~ .bar {
    transform: translateX(calc(var(--width-small) * 2));
  }
  .navigation ul li:nth-child(4).active ~ .bar {
    transform: translateX(calc(var(--width-small) * 3));
  }
  .navigation ul li:nth-child(5).active ~ .bar {
    transform: translateX(calc(var(--width-small) * 4));
  }
  .navigation ul li a .text {
    font-size: 0.5em;
  }
}
